# Ejemplo de configuración de entorno
# Crea un archivo .env en esta misma carpeta y copia estas variables
# con tus propios valores de Supabase o AWS.

VITE_SUPABASE_URL=TU_URL_DE_PROYECTO_AQUÍ
VITE_SUPABASE_ANON_KEY=TU_LLAVE_ANON_AQUÍ
